IMPORTAMOS TODAS LAS LIBRERIAS

In [1]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
import time
from selenium.webdriver.common.keys import Keys
from time import sleep
import pandas as pd
from selenium.webdriver.support.ui import Select
from webdriver_manager.chrome import ChromeDriverManager

VAMOS A SCRAPPEAR LA PÁGINA DE GLOVO

EL PRIMER PASO ES ENTENDER QUE PATRONES SIGUE, ESTOS NOS AYUDARÁN A OBTENER LA INFORMACIÓN DESEADA

PATERN URL'S

URL Página I
"https://glovoapp.com/es/es/madrid/restaurantes_1/?page=1"

URL Página II
"https://glovoapp.com/es/es/madrid/restaurantes_1/?page=2"

URL Página III
"https://glovoapp.com/es/es/madrid/restaurantes_1/?page=3"

CREAMOS UN LISTADO DE NUESTROS URLS

In [6]:
#CREATING A LIST OF URL'S

url_list = []
for page in range(1,35):
        url_list.append(f"https://glovoapp.com/es/es/madrid/restaurantes_1/?page={page}")

A VER NUESTRA LISTA

In [44]:
#url_list

VENTANA DE INCOGNITO / ADBLOCKER / COOKIES

In [3]:
#Opciones de Selenium para evitar que sepan que eres un robot
opciones= Options()
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
#para ocultarme como robot, pero me sigue diciendo que hay un software automatico usando chrome
opciones.add_experimental_option('useAutomationExtension', False)
opciones.add_argument('--start-maximized') #empezar maximizado
opciones.add_argument('user.data-dir=selenium') #guarda las cookies
opciones.add_argument('drive/adblock.crx') #adblocker
#opciones.add_argument('--incognito')#incognito window

A POR LA INFO...

In [9]:
driver = webdriver.Chrome(ChromeDriverManager().install())
results_list = []

for i in url_list:   
    #VAMOS AL URL
    driver.get(i)
    sleep(5)
    print("Done_1")
    
    # ACEPTAMOS LAS COOKIES
    driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()
    print("Done_2")
    # QUEREMOS DARLE UNA DIRECCIÓN DE BUSQUEDA, HACEMOS CLICK EN "CERCA DE MI"
    driver.find_element_by_xpath('//*[@id="3"]/nav/div[1]/a/h2').click()
    sleep(8)
    print("Done_3")
    # HACEMOS CLICK EN ELEGIR EN EL MAPA
    driver.find_element_by_xpath('//*[@id="__layout"]/div/div[2]/div/div/div/div/div/form/div[1]/div[1]/div[2]/a').click()
    sleep(8)
    print("Done_4")
    # CONFIRMAMOS LA DIRECCIÓN RECONOCIDA
    driver.find_element_by_xpath('//*[@id="__layout"]/div/div[2]/div/div/div/div/div/div[2]/button').click()
    sleep(15)
    print("Done_5")
    # SUBMIT LA DIRECCIÓN FINAL
    driver.find_element_by_xpath('//*[@id="address-submit-button"]').click()
    sleep(15)
    print("Done_6")

    #results_list.append(driver.find_element_by_xpath('//*[@id="default-wrapper"]/div/div/div/main/div[2]/div/div'))
    
    for number in range (1,49):
        my_info = driver.find_element_by_xpath(f'/html/body/div[1]/div/div/div[1]/div/div/div/main/div[2]/div/div/div[{number}]')
        results_list.append(my_info.text)
    print("Done_7")
    break
    
driver.quit

====== WebDriver manager ======
Current google-chrome version is 95.0.4638
Get LATEST chromedriver version for 95.0.4638 google-chrome
Driver [/Users/juanvegapenichet/.wdm/drivers/chromedriver/mac64/95.0.4638.69/chromedriver] found in cache
/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(ChromeDriverManager().install())

Done_1

/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:11: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_css_selector("#onetrust-accept-btn-handler").click()

Done_2

/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:14: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('//*[@id="3"]/nav/div[1]/a/h2').click()

Done_3

/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:18: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('//*[@id="__layout"]/div/div[2]/div/div/div/div/div/form/div[1]/div[1]/div[2]/a').click()

Done_4

/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:22: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('//*[@id="__layout"]/div/div[2]/div/div/div/div/div/div[2]/button').click()

Done_5

/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:26: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  driver.find_element_by_xpath('//*[@id="address-submit-button"]').click()

Done_6

/var/folders/lp/_3blnsw12kj309tphctgyqlr0000gn/T/ipykernel_50133/830903784.py:33: DeprecationWarning: find_element_by_* commands are deprecated. Please use find_element() instead
  my_info = driver.find_element_by_xpath(f'/html/body/div[1]/div/div/div[1]/div/div/div/main/div[2]/div/div/div[{number}]')

Done_7

QUE TENEMOS?

In [45]:
#results_list

VAMOS A CONVERTIRLO EN UN DATAFRAME Y A LIMPIARLO

In [11]:
import pandas as pd

In [12]:
df = pd.DataFrame(results_list)

In [15]:
df.tail()

                                                    0
43            -25%\nMiss Sushi\nJaponesa\n93%\n(500+)
44  Miss Sushi 100% Vegetal\nSaludable\nVegetarian...
45  2x1\n-30%\nMiss Poke\nComercioLocal\nPoke\n90%...
46  Crudo Pokes & Salads\nPoke\nSaludable\n91%\n(132)
47                 Gracias Padre\nMexicana\n81%\n(48)

TENEMOS UN DATAFRAME CON UNA SOLA COLUMNA, VAMOS A LIMPIARLO

LO CONVERTIMOS EN UNA LISTA DE LISTAS Y LE QUITAMOS "\n"

In [16]:
final = []
for i in range(48):
    final.append(df.iloc[i][0].split("\n"))

In [18]:
#final

HACEMOS UN DATAFRAME CON ESTOS DATOS LIMPIOS

In [19]:
df = pd.DataFrame(final)

SETEAMOS LOS NOMBRES DE LAS COLUMNAS

In [20]:
columnas = ["Restaurant", "Tags", "Tags_2", "Like", "Nº Valoraciones", "Delivery fee", "Erase", "ETA",""]

In [21]:
df.columns = columnas

QUE TENEMOS?

In [39]:
df.head(20)

,Restaurant,Tags,Tags_2,Like,Nº Valoraciones,Delivery fee,Erase,ETA,
0,Thong,Asiática,98%,(173),"0,99 €",·,15-25 min,None,None
1,Pizzas Lamucca,Hamburguesas,Pizza,95%,(76),"1,49 €",·,15-25 min,None
2,Sushi Yakuza,Japonesa,97%,(150),"0,99 €",·,15-25 min,None,None
3,Goiko,Americana,Hamburguesas,98%,(500+),"1,49 €",·,15-25 min,None
4,Le Coq,Pollo,96%,(500+),"1,99 €",·,10-20 min,None,None
5,Le Burgerie,Hamburguesas,96%,(57),"0,99 €",·,15-25 min,None,None
6,Sweet Teo,Desayuno & Merienda,Helado,92%,(181),"0,99 €",·,15-25 min,None
7,French Crêpe,Mediterránea,Snacks,94%,(77),"1,49 €",·,15-25 min,None
8,Juicy Avenue Vegan,Saludable,Vegetariana,93%,(109),"1,99 €",·,15-25 min,None
9,Ok Corral,Pollo,80%,(13),"1,99 €",·,15-25 min,None,None
10,Juicy Avenue,Americana,Saludable,95%,(489),"1,49 €",·,15-25 min,None
11,Guakamola,Mexicana,90%,(45),"0,99 €",·,15-25 min,None,None
12,Pinsa Pizza,Italiana,95%,(138),"0,99 €",·,15-25 min,None,None
13,La Gaditana Castellana,Internacional,98%,(24),"1,49 €",·,25-35 min,None,None
14,400 Grados Pizza,Pizza,91%,(57),"1,49 €",·,25-35 min,None,None
15,Naked And Sated,Saludable,94%,(500+),"1,49 €",·,20-30 min,None,None
16,La Fina Pizza,Pizza,100%,(100),"1,49 €",·,15-25 min,None,None
17,-20%,Honest Greens,Mediterránea,Saludable,92%,(500+),"1,49 €",·,15-25 min
18,New York Burger,Hamburguesas,95%,(500+),"1,49 €",·,20-30 min,None,None
19,-15%,Doli Restaurante Indio,India,95%,(196),"1,49 €",·,25-35 min,None

ESTE ES UN EJEMPLO DE UN DATO "COMPLETO"

In [32]:
df.iloc[[1]]

,Restaurant,Tags,Tags_2,Like,Nº Valoraciones,Delivery fee,Erase,ETA,
1,Pizzas Lamucca,Hamburguesas,Pizza,95%,(76),"1,49 €",·,15-25 min,None

ESTE ES UN EJEMPLO DE UN DATO "MAS QUE COMPLETO"

In [41]:
df.iloc[[17]]

,Restaurant,Tags,Tags_2,Like,Nº Valoraciones,Delivery fee,Erase,ETA,
17,-20%,Honest Greens,Mediterránea,Saludable,92%,(500+),"1,49 €",·,15-25 min

ESTE ES UN EJEMPLO DE UN DATO "INCOMPLETO"

In [42]:
df.iloc[[2]]

,Restaurant,Tags,Tags_2,Like,Nº Valoraciones,Delivery fee,Erase,ETA,
2,Sushi Yakuza,Japonesa,97%,(150),"0,99 €",·,15-25 min,None,None

TENEMOS UN DESASTRE! CADA RESTAURANTE TIENE UNAS CARACTERÍSTICAS DIFERENTES Y ESTO DIFICULTA ORDENARLO...

In [ ]:
VAMOS A BUSCAR UN PATRON QUE NOS AYUDE A LIMPIAR ESTO:
    - REGEX?
    - LEN DE CADA ELEMENTO?
    -

BUSCAMOS PATRONES

CAJAS - NO FUNCIONA
- /html/body/div[1]/div/div/div[1]/div/div/div/main/div[2]/div/div/div[1]
- /html/body/div[1]/div/div/div[1]/div/div/div/main/div[2]/div/div/div[2]

RESTAURANTES - TIENE UN ID (NO ITERABLE)
- //*[@id="97711"]/div[1]/div[2]/h3
- //*[@id="21023"]/div[1]/div[2]/h3

- #\31 24185 > div.card-image > div.card-overlay > h3
- #\32 22359 > div.card-image > div.card-overlay > h3
- #\34 43 > div.card-image > div.card-overlay > h3

OTRO RESTAURANTES - TIENE UN ID (NO ITERABLE)
- //*[@id="88738"]/div[1]/div[2]
- //*[@id="128154"]/div[1]/div[2]

OTRA - TIENE UN ID (NO ITERABLE)
- //*[@id="88738"]/div[1]/div[2]
- //*[@id="128154"]/div[1]/div[2]

GENERICA GRANDE
- //*[@id="default-wrapper"]/div/div/div/main/div[2]/div/div